.navbar, .email-list, .email-detail {
    padding-top: 30px;
}

/* overwriting these does nothing :( */
.navbar-dark, .bg-dark {
    background-color: #423E37;
    color: white;
}

/* I can overwrite the toggler button colors, but only if I use navbar-dark and bg-dark */
.navbar, .navbar-toggler {
    align-items: flex-start;    
    background-color: #423E37;
    color: white;   
    
}

/* #collapse-nav {
    flex-direction: column;
    padding-left: 30px;    
    padding-right: 30px;
} */

a {
    color: white;
} 

ul {
    flex-direction: column;
}

.active {
    font-weight: bold;
}

.btn {
    background-color: #E3B23C;
    color: white;
    font-weight: bold;
    margin: 15px 10px;
}

.email-list {
    background-color: #F4F3EF;
    padding: 10px;    
}

.email-card {
    color: gray;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
}

.subject {
    color: black;
    font-weight: bold;
    padding-left: 15px;
}

.first-line {
    overflow: ellipsis;
}

input {
    margin-top: 30px;
    width: 90%;
}

.email-detail {
    color: gray;
}

.email-detail-header {
    font-size: 0.7em;
    margin-bottom: 15px;
}

.email-detail-subject {
    font-size: 1.5em;
    margin-bottom: 15px;
}